.vscode
.venv/
**/__pycache__
**/*.DS_Store
*.so
*.cmake
CmakeCache.txt
CMakeFiles
Makefile
**/*.rendered.*.cpp
**/*.cppimporthash
build
.pytest_cache
**/*.egg-info
.mypy_cache
*.whl
venv
cmake-build-*
.idea
